extends ./layout/index
block contenido
     main.container.mt-5 
          h2.text-center.mt-5 Sobre Nosotros 
          .row.mb-5 
               .col-md-6
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium ante nisi, ut ullamcorper sapien mollis vitae. Nunc rhoncus felis id nulla gravida suscipit. Pellentesque sodales, augue vel pharetra pulvinar, ex arcu consectetur neque, a porttitor mi dui sit amet urna. Fusce vel auctor ex. Duis sollicitudin laoreet.

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium ante nisi, ut ullamcorper sapien mollis vitae. Nunc rhoncus felis id nulla gravida suscipit. Pellentesque sodales, augue vel pharetra pulvinar, ex arcu consectetur neque, a porttitor mi dui sit amet urna. Fusce vus. Duis et aliquet nunc. Cras hendrerit sollicitudin porta.


               .col-md-6 
                    img(src="img/inicio_nosotros.jpg", alt="páginainicio", class="img-fluid")
          
          include ./layout/bloque_inicio

     .descuento
          .container 
               .row
                    .col-md-6
                         .contenido 
                              h3 5% de Descuento
                              p.titulo Viaje a Canada 
                              p.fecha 20 de Marzo de 2022 -28 de Marzo de 2022
                              p.precio $2,500 USD

     .container 
          h2.mt-5.text-center Testimoniales

          include ./layout/bloque_testimoniales

                    

                    




block slider
     .slider 
          h1 Rio de Janeiro
          em aventura
     


  
           