extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="pagina de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tristique lectus. Quisque in lorem vitae nisi consectetur eleifend. Sed vestibulum massa non ligula venenatis cursus. Nunc et consecteturneque. Duis tincidunt iaculis velit, non suscipit dolor efficitur nec. Aliquam pulvinar eros lectus, 
              

                p Fusce sed scelerisque nisl, nec auctor arcu. Ut eu lorem quis dolor laoreet blandit. Aliquam in tincidunt orci,eu tristique ex. Vestibulum pellentesque, turpis ut accumsan finibus, justo tellus feugiat nisl, at elementum odio turpis at quam. Praesent eget massa congue, placerat nulla eget, ornare felis. Praesent diam sem, tristique
                            
                p Donec a luctus eros, ut mollis ante. Nullam eu ligula malesuada, accumsan mauris et, tristique quam. Pellentesque tincidunt eu odio vitae hendrerit. Etiam efficitur enim et ipsum pharetra, quis imperdiet massa iaculis. Phasellus pellentesque,
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Fusce sed scelerisque nisl, nec auctor arcu. Ut eu lorem quis dolor laoreet blandit. Aliquam in tincidunt or
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Fusce sed scelerisque nisl, nec auctor arcu. Ut eu lorem quis dolor laoreet blandit. Aliquam in tincidunt or
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Fusce sed scelerisque nisl, nec auctor arcu. Ut eu lorem quis dolor laoreet blandit. Aliquam in tincidunt or